{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment_analysis</title>

    <style>

        .content{
            text-align: center;
        }
        .content p{
            font-size: x-large;
            color: black;
        }

    </style>
</head>

<body>    <!-- style="background-image: url({% static 'images/tweeter.jpeg' %})" -->
<div class="content">
    <form action="{% url 'home' %}">
    <input type="submit" value="HOME" />
    </form>

<form class="form-detail" action="{% url 'thor' %}" method="post" id="myform" >
            {% csrf_token %}   
            
    <p> Select the Tweet</p>
    <select name="tweet" style="padding:5px;" id="topic">
        {% for data in datas %}
        <option value="{{data}}">{{data}}</option>
        {% endfor%}
    </select>
    <br><br>
    <input type="submit" name="submit" class="submit_button" value="Result">
    <br><hr>
    {% if status %}
    
    <p>{{status}}</p>
    <p>Positive Tweet Percentage: {{positive_percentage}}&nbsp;%</p>
    <p>Nagative Tweet Percentage: {{negative_percentage}}&nbsp;%</p>
    <p>Neutral Tweet Percentage: {{neutral_percentage}}&nbsp;%</p>

        {% endif %}
</form>
</div>

</body>
</html>