{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .first{
            text-align: center;
        }
        .first p{
            font-size: x-large;
            color: black;
        }
        .first a{
            color: black;
        }
    </style>
</head>
<body>
<div class="first">
    <p>Select the Tweeter Hashtag Category</p>

    <a href="{% url 'hacked' %}">HACKED</a><br>
    <a href="{% url 'thor' %}">THOR</a><br>
    <a href="{% url 'karma' %}">KARMA</a><br>
    <a href="{% url 'covid' %}">COVID-19 IN INDIA</a>



</div>
</body>
</html>