<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Google Map</h1>
    <div id='map' style='width: 1500px; height: 600px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2hpdmppbmRhbDc4IiwiYSI6ImNrZHBkajNhNTBoMXgycW8yYnJ6emsxMjYifQ.ebwYa-XBAX5HqTfmMOilVg';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center:[77.3166, 28.3292],
        zoom: 9
        });
    </script>
</body>
</html>