{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Auths</title>
</head>
<body>
    <button><a href="{% provider_login_url 'google' %}">Google Login</a></button><br><br>
    <button><a href="#">Instagram Login</a></button><br><br>
    <button><a href="{% provider_login_url 'twitter' %}">Twitter Login</a></button><br><br>
    <button><a href="{% provider_login_url 'linkedin_oauth2' %}">Linkedin Login</a></button><br><br>
</body>
</html>
